<!DOCTYPE html>
<html>
  <head>
    <title>Arkle-BnB</title>
    <link rel="stylesheet" href="/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <nav>
        <p>[ARKLE BNB]</p>
        <div class="links__container">
          <a class="link" href="#">Login</a>
          <a class="link" href="#">Sign Up</a>
        </div>
      </nav>
      <section class="blurb">
        <h1 class="blurb__header">Booking Error</h1>
        <p class="listing listing__description"><%= @error %></p>
        <a class="link" href="/listings/<%= @listing_id %>">Go back</a>
      </section>
    </header>
  </body>
</html>
