<!DOCTYPE html>
<html>
  <head>
    <title>Arkle-BnB</title>
    <link rel="stylesheet" href="/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
  </head>
  <body>
    <header>
      <nav>
        <a href="/"><img class="logo" src="/shack.png" alt="logo" /></a>
        <div class="links__container">
          <a class="link nav__link" href="/login">Login</a>
          <a class="link nav__link" href="/signup">Sign Up</a>
        </div>
      </nav>
      <section class="blurb">
        <h1 class="blurb__header">Feel at home, anywhere</h1>
        <p class="blurb__text">
          Live you best life, explore where you'll be living next.
        </p>
      </section>
      <div class="form__container">
        <h3 class="form__header">SignUp</h3>
        <form class="form" action="#" method="POST">
          <label class="form__label" for="name">Full Name</label>
          <input class="form__input" type="text" name="name" />
          <label class="form__label" for="email">Email</label>
          <input class="form__input" type="email" name="email" />
          <label class="form__label" for="password">Password</label>
          <input class="form__input" type="text" name="password" />
          <input
            class="form__input form__submit"
            type="submit"
            value="Sign Up"
          />
        </form>
      </div>
    </header>
  </body>
</html>
