<!DOCTYPE html>
<html>
  <head>
    <title>Arkle-BnB: Listings</title>
    <link rel="stylesheet" href="/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
  </head>
  <body>
    <header>
      <nav>
        <a href="/"><img class="logo" src="/shack.png" alt="logo" /></a>
        <div class="links__container">
          <a class="link nav__link" href="/menu_page">Menu</a>
          <a class="link nav__link" href="/logout">Log out</a>
          <a class="link nav__link" href="/account">Account</a>
        </div>
      </nav>
      <section class="blurb">
        <h1 class="blurb__header">Listings</h1>
        <p class="blurb__text">The perfect stay is 2 clicks away!</p>
      </section>
      <ul class="list">
        <% @listings.each do |listing| %>
        <a href="/listings/<%= listing.id %>">
          <li class="list__item">
            <div class="listing listing__name"><%= listing.name %></div>
            <div class="listing listing__description">
              <%= listing.description %>
            </div>
            <div class="listing listing__night_price">
              £<%= listing.night_price.to_i / 100 %>.00 /night
            </div>
          </li>
        </a>
        <% end %>
      </ul>
    </header>
  </body>
</html>
