<!DOCTYPE html>
<html>
  <head>
    <title>Arkle-BnB</title>
    <link rel="stylesheet" href="/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <nav>
        <p>[ARKLE BNB]</p>
        <div class="links__container">
          <a class="link" href="#">Login</a>
          <a class="link" href="#">Sign Up</a>
          <% if session[:user_id] != nil %>
          <a class="link" href="/account/:user_id">My Account</a>
          <% end %>
        </div>
      </nav>
      <section class="blurb">
        <h1 class="blurb__header">Menu</h1>
        <p class="blurb__text">
          <a class="link" href="/create_listing">Create Listing</a>
          <a class="link" href="#">Request a Stay</a>
        </p>
      </section>
    </header>
  </body>
</html>

