<!DOCTYPE html>
<html>
  <head>
    <title>Arkle-BnB</title>
    <link rel="stylesheet" href="/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <nav>
        <p>[ARKLE BNB]</p>
      </nav>
      <section class="blurb">
        <h1 class="blurb__header">You're one step away...</h1>
        <p class="blurb__text">
          Please enter your details to create an account.
        </p>
      </section>
      <div class="form__container">
        <h3 class="form__header">SignUp</h3>
        <form class="form" action="/signup" method="POST">
          <label class="form__label" for="name">Full Name</label>
          <input class="form__input" type="text" name="name" />
          <label class="form__label" for="email">Email</label>
          <input class="form__input" type="email" name="email" />
          <label class="form__label" for="password">Password</label>
          <input class="form__input" type="password" name="password" />
          <input class="form__input form__submit" type="submit" value="Sign Up" />
        </form>
      </div>
    </header>
  </body>
</html>
