<!DOCTYPE html>
<html>
  <head>
    <title>Arkle-BnB: Welcome</title>
    <link rel="stylesheet" href="/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
  </head>
  <body>
    <header>
      <nav>
        <a href="/"><img class="logo" src="/shack.png" alt="logo" /></a>
        <div class="links__container">
          <a class="link nav__link" href="/login">Login</a>
          <a class="link nav__link" href="/signup">Sign Up</a>
        </div>
      </nav>
      <section class="blurb">
        <h1 class="blurb__header">Welcome!</h1>
        <p class="blurb__text">Please Signup or Login.</p>
      </section>
    </header>
  </body>
</html>
