<!DOCTYPE html>
<html>
  <head>
    <title>Arkle-BnB</title>
    <link rel="stylesheet" href="/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <nav>
        <p>[ARKLE BNB]</p>
        <div class="links__container">
          <a class="link" href="/logout">Logout</a>
        </div>
      </nav>
      <section class="blurb">
        <h1 class="blurb__header">Welcome!</h1>
        <p class="blurb__text">
          Please logout if you want.
        </p>
      </section>
    </header>
  </body>
</html>
